.community_container{
    width: 80%;
    display:flex;
    flex-wrap: wrap;
    &--card{
        width: 48%;
    }
}
.community_body{
    &--title{
        font-size: 24px;
        color: var(--cor-pesquisa)
    }

    &--description{
        font-size: 16px;
        color: var(--cor-pesquisa)
    }
}