:root{
  --cor-fundo: #051d3b;
  --cor-pesquisa: #FFFFFF;
  --cor-destaque: white;
  --cor-padrao:  #FFFFFF;
  --cor-primary: #FAC700;
  --cor-blue: #5081FB;
  --background-secondary: #141414;

  --cor-pesquisa-opacity-16: rgba(255, 255, 255, 0.06);
  --cor-pesquisa-opacity-24: rgba(255, 255, 255, 0.24);

}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
